Repository rl-education/kims, pull requests merged in 2023-06, with the labels that each got.

#12 feature/add-tensorboard
  .gitignore
  src/day_1/Makefile
  src/day_1/ch4_dqn/problem/dqn.py
  src/day_1/ch4_dqn/solution/dqn.py
Labels: feature, size/M

#13 Enhance/update day 1 code
  src/day_1/ch1_env_usage/cartpole.py
  src/day_1/ch1_env_usage/frozenlake_4x4.py
  src/day_1/ch1_env_usage/frozenlake_8x8.py
  src/day_1/ch1_env_usage/frozenlake_human_play.py
  src/day_1/ch2_dp/policy_iteration/policy_iteration_solution.py
  src/day_1/ch2_dp/value_iteration/value_iteration_solution.py
  src/day_1/ch3_q_learning/q_learning_problem.py
  src/day_1/ch3_q_learning/q_learning_solution.py
  src/day_1/ch4_dqn/solution/dqn.py
Labels: enhancement, size/M

#8 Train Cartpole Env on Isaac Sim
  src/day_3/LICENSE.txt
  src/day_3/Makefile
  src/day_3/README.md
  src/day_3/config/cartpole.usda
  src/day_3/config/cartpole.yaml
  src/day_3/config/config_multi.yaml
  src/day_3/config/config_single.yaml
  src/day_3/config/rl_games_ppo.yaml
  src/day_3/config/sb3_ppo.yaml
  src/day_3/python_fix.sh
  src/day_3/requirements-part-1.txt
  src/day_3/requirements-part-2.txt
  src/day_3/requirements.txt
  src/day_3/rl_simulation_class/__init__.py
  src/day_3/rl_simulation_class/first_load.py
  src/day_3/rl_simulation_class/get_remote_ip.py
  src/day_3/rl_simulation_class/part_1/__init__.py
  src/day_3/rl_simulation_class/part_1/simple_cartpole.py
  src/day_3/rl_simulation_class/part_1/simple_rl_task.py
  src/day_3/rl_simulation_class/part_2/__init__.py
  src/day_3/rl_simulation_class/part_2/multi_cartpole.py
  src/day_3/rl_simulation_class/part_2/multi_env_rl_task.py
  src/day_3/rl_simulation_class/run_websocket.py
  src/day_3/rl_simulation_class/train_multi.py
  src/day_3/rl_simulation_class/train_single.py
  src/day_3/rl_simulation_class/utils/__init__.py
  src/day_3/rl_simulation_class/utils/config.py
  src/day_3/rl_simulation_class/utils/vec_env.py
  src/day_3/sample.py
  src/day_3/setup.py
Labels: feature, size/XXL

#15 ENH: run on window os
  src/day_1/Makefile
  src/day_1/ch1_env_usage/frozenlake_human_play.py
  src/day_1/ch2_dp/policy_iteration/policy_iteration_problem.py
  src/day_1/ch2_dp/policy_iteration/policy_iteration_solution.py
  src/day_1/ch2_dp/value_iteration/value_iteration_problem.py
  src/day_1/ch2_dp/value_iteration/value_iteration_solution.py
  src/day_1/ch3_q_learning/q_learning_problem.py
  src/day_1/ch3_q_learning/q_learning_solution.py
  src/day_1/ch4_dqn/problem/dqn.py
  src/day_1/ch4_dqn/solution/dqn.py
Labels: enhancement, size/M

#11 Day 2 code - ppo,sac,ddpg
  .gitignore
  src/day_2/Makefile
  src/day_2/actor_critic/actor_critic_cartpole.py
  src/day_2/actor_critic/solution/actor_critic_cartpole.py
  src/day_2/actor_critic/solution/actor_critic_pendulum.py
  src/day_2/ddpg/ddpg.py
  src/day_2/ddpg/solution/ddpg.py
  src/day_2/ppo/.DS_Store
  src/day_2/ppo/ppo.py
  src/day_2/ppo/solution/ppo.py
  src/day_2/reinforce/1.reinforce_naive.py
  src/day_2/reinforce/2.reinforce_batch.py
  src/day_2/reinforce/3.reinforce_baseline.py
  src/day_2/reinforce/4.reinforce_pendulum.py
  src/day_2/reinforce/solution/1.reinforce_naive.py
  src/day_2/reinforce/solution/2.reinforce_batch.py
  src/day_2/reinforce/solution/3.reinforce_baseline.py
  src/day_2/reinforce/solution/4.reinforce_pendulum.py
  src/day_2/requirements.txt
  src/day_2/sac/sac.py
  src/day_2/sac/solution/sac.py
  src/day_2/sample.py
Labels: feature, size/XXXL
